body {
    background-color: #1dc7e9c9;
}


.tnt {
    position: relative;
    left: 10px;
    top: 10px;
}

.kiko {
    position: relative;
    left: 350px;
    top: -200px;
}

.özcan {
    position: relative;
    left: 1255px;
    top: -900px;
}

.tim {
    position: relative;
    left: 780px;
    top: -340px;
    
}