body {
    background-color: #1dc7e9c9;
}


.tnt {
    position: relative;
    left: 10px;
    top: -350px;
}

.kiko {
    position: relative;
    left: 350px;
    top: 10px;
}

.özcan {
    position: relative;
    left: 1255px;
    top: -750px;
}