html {
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
    font-family: Arial,;
    background-color: #f7f7f7;
  }
  
  header {
    background-color: #e0eafb;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
  }
  header .wrapper {
    max-width: 1000px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  header .logo img {
    height: 80px;
    display: block;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 100%;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
    transition: left 0.3s;
  }
  
  .navbar.show {
    left: 0 !important;
  }
  
  .hide-scroll {
    overflow: hidden;
  }
  
  .navbar ul,.searchbar,.searchsymbol {
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .navbar ul a {
    all: unset;
    color: #444444;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
  }
  .navbar ul a:hover {
    color: #111111;
    text-decoration: underline overline;
    text-decoration-thickness: 3px;
  }
  
  .close-nav {
    text-align: right;
    margin-bottom: 20px;
  }
  .close-nav button {
    all: unset;
    background: #f7f7f7;
    font-size: 42px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 3px;
    color: #444444;
  }
  .close-nav button:hover {
    color: #222222;
    background: white;
  }
  
  .menu-bar button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #f7f7f7;
    height: 50px;
    width: 50px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  .menu-bar i {
    display: block;
    border-top: 3px solid #444444;
    border-bottom: 3px solid #444444;
  }
  .menu-bar i::after {
    display: block;
    content: "";
    border-top: 3px solid #444444;
    margin: 6px 0;
  }
  .menu-bar button:hover {
    background: white;
  }
  .menu-bar button:hover i {
    border-color: #222222;
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
  }
  
  @media (min-width: 550px) {
    .navbar {
        all: unset;
        display: block;
    }
    .navbar ul {
        flex-direction: row;
        gap: 20px;
    }
    .navbar ul a {
        font-size: inherit;
    }
    .close-nav,
    .menu-bar {
        display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
   .search-container {
     display: none;
   }
  }
  * {
  box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.searchbar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  }
  
  form.searchbar button:hover {
  background: #0b7dda;
  }
  
  /* Clear floats */
  form.searchbar::after {
  content: "";
  clear: both;
  display: table;
  }
  