:root{
  --background-color:#314453;
  --darker-background-color:#243848;
  --accent-color:#41DCE1;
  --text-color: #FFFFFF;
  --navbar-height: 80px;
}

*{
  margin: 10;
  padding:0;
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
  right: 600px;
}
html{
  height:100%;

}
body{
  height:100%;
}

nav{
  height: var(--navbar-height);
  background: var(--background-color) ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
nav .logo{
  height: 30px;
  display: block;
  position: left;
  position: absolute;
  left: 100px;

}
nav ul{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  
}
nav li {
  height:100%;
  width:150px;
  text-align: center;
  position: relative;
}

nav li:hover{
  background: var(--accent-color);
}

nav ul a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.product_list{
  height: min-content;
  width: 200px;
  background: var(--background-color);
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  top:var(--navbar-height);
}
.product_list li{
  height: 70px;
  width: 100%;
  text-align: center;
  justify-content: center;
} 
.product_list li a{
  justify-content: flex-start;
  padding-left: 30px;
  width: calc(100%-30px);
}

nav li:hover .product_list{
  display: flex;
}
.expandable_li{
  display: flex;
  justify-content: center;
  align-items: center;
}